<% content_for :title do %>Demo Queues Board<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo_queues" data-view="Queues"
           data-title="My Queues"
           data-yellow="1200" data-red="1500"
           >
      </div>
    </li>

</div>
